mixin project(image, title, text, area, price)
    a(href="project.html").project
        div.preview
            img(src=image, alt="")
            div.tags
                small Освещение
                small Электрокарнизы
                small Климат-контроль
                small Сигнализация
                small Видеонаблюдение
        div.description
            strong !{title}
            span= text
        div.details
            div.area
                small Площадь объекта
                strong= area
            div.area
                small Стоимость
                strong= price

mixin article(image, title)
    a(href="article.html").article
        h3= title
        img(src=image, alt="")

mixin category(image, title)
    a(href="category.html").category
        img(src=image, alt="")
        span: b= title

mixin product(image, article, title, price)
    a(href="product.html").product
        img(src=image, alt="")
        small= article
        strong= title
        h3= price


